
#.gitignore
#Kommentare: # leitet einen Kommentar ein.
#Ordner ignorieren: Ein / am Ende ignoriert einen gesamten Ordner.
#Bestimmte Dateitypen ignorieren: Wildcards (*) erlauben das Ignorieren ganzer Dateigruppen.
#Bestimmte Dateien ausnehmen: ! hebt eine Regel wieder auf.

# Node.js-Projekte
node_modules/

# Python-Projekte
__pycache__/
*.pyc

# Logs und temporäre Dateien
*.log
tmp/
.DS_Store

# Umgebungsvariablen und Secrets
.env/
.env
config/settings.json

#Datenbank
*.sqlite3

#Sontieges
/coderr_dokumentation_endpoints.pdf
/dokuAndFrameOfConfig.txt